@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  @include flex-justify(space-between);
  align-items: center;
  padding: 0 calc(50% - 1.5rem) 0 0.5rem;
  background-color: #0095ff;
  border: 1px solid $outline-color;
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
  color: #fff;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
    width: 10rem;
    padding-right: 3rem;
  }

  &:hover {
    background-color: #0065ad;
  }

  &--nav {
    @include tablet {
      margin: 0 1.5rem 0 0;
    }
  }

  &--form {
    @include tablet {
      margin: 0.25rem 0 0 1.5rem;
      display: inline-flex;
      vertical-align: top;
    }
  }

}
