@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  @include section-padding;
  @include desktop {
    width: 54rem;
    padding-right: 0;
  }

  &__title {
    color: $primary-text-color;
    margin: 1.5rem auto 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    @include tablet {
      margin: 2.25rem 0 1.5rem;
      font-size: 2.0625rem;
      line-height: 2.75rem;
    }

    @include desktop {
      padding-right: $tablet-desktop-margin;
    }
  }
}

.details {
  @include body-font;
  @include flex-justify(space-between);
  margin: $mobile-margin 0;
  padding: $mobile-margin 0;
  border-top: 1px solid $outline-color;
  border-bottom: 1px solid $outline-color;
  @include tablet {
    border-top: none;
    padding: 0;
  }

  @include desktop {
    padding-right: $tablet-desktop-margin;
  }

  &__upload {
    @include flex-justify(space-between);
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &__channel {
    font-weight: 700;
    margin: 0 $mobile-margin $mobile-margin 0;
    @include tablet{
      margin-bottom: 0;
    }
  }

  &__date {
    color: $outline-color;
  }

  &__stats {
    @extend .details__upload;
  }

  &__description {
    @include body-font;
    @include desktop {
      padding-right: $tablet-desktop-margin;
    }
  }
}
