@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.current-video {
  width: 100%;
  height: calc(100vw * 9 / 16); // calculation to ensure 16:9

  background-color: #000000;
  @include tablet {
    padding: 0 $tablet-desktop-margin;
    height: calc(
      (100vw - 2 * $tablet-desktop-margin) * 9 / 16
    ); // calculation to ensure 16:9
  }
  @include desktop {
    @include flex-justify(center);
    height: 36.56rem; // to ensure 16:9
  }

  &__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include desktop {
      width: 65rem;
      height: 36.56rem;
    }
  }
}
