@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;



.avatar--nav{
    border-radius: 50%;
    object-fit: cover;
    width: 2.25rem  ;
    min-height: 2.25rem;
    margin: $mobile-margin 0 $mobile-margin $mobile-margin;
    @include tablet {
          width: 2.5rem;
          height: 2.5rem;
          margin: 0;
          order:1;
    }
}


.avatar--form{
    @extend .avatar--nav;
    vertical-align: top;
    margin: 1.375rem $mobile-margin 0 0;
    @include tablet {
          margin-right: $tablet-desktop-margin;
          order:0;
     }
}