@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir";
}

.main {
  @include desktop {
    
    @include flex-justify(center);
  }
  &__content {
    @include desktop {
      width:54rem;
      @include flex-justify(space-between);
      flex-direction: column  ;
    }
  }
}
