@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  margin: 1rem 0;
  @include section-padding;

  @include desktop {
    width: 80rem;
  }

  @include tablet {
    margin: 1.5rem auto;
    @include flex-justify(space-between);
  }

  &__logo-box {
    @include flex-justify(center);
    align-items: center;
  }

  &__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }

  &__interactive-bar {
    @include tablet {
      @include flex-justify(space-between);
    }
  }

  &__search {
    background: no-repeat center left 1rem url("../../assets/icons/search.svg");
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    width: calc(100% - 3.5rem);
    height: 2.25rem;
    margin: $mobile-margin 0;
    padding-left: 2.5rem;
    border-radius: 0.25rem;
    background-color: #fafafa;
    border: 1px solid $outline-color;

    @include body-font;
    &::placeholder {
      @include body-font;
    }

    @include tablet {
      width: 15.625rem;
      margin: 0 1.5rem 0;
      height: 2.5rem;
    }

    &:focus {
      outline: none;
      border: 1px solid $cta-color;
    }
  }

  &__link {
    text-decoration: none;
  }
}
