@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  margin: 1rem 0;
  @include section-padding;

  @include desktop {
    width: 80rem;
  }

  @include tablet {
    margin: 1.5rem auto;
    @include flex-justify(space-between);
  }

  &__logo-box {
    @include flex-justify(center);
    align-items: center;
  }

  &__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }

  &__interactive-bar {
    @include tablet {
      @include flex-justify(space-between);
    }
  }

  &__link{
    text-decoration: none;
  }
}

.search-bar {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 3.5rem);
  height: 2.25rem;
  margin: $mobile-margin 0;
  padding-left: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid $outline-color;
  background-color: #fafafa;
  @include tablet {
    width: 15.625rem;
    padding-left: 1rem;
    margin: 0 1.5rem 0;
    height: 2.5rem;
  }

  &__icon {
    margin-right: 1rem;
  }

  &__input {
    border: none;
    background-color: #fafafa;
    margin: 0;
    height: 100%;
    width: 80%;

    @include body-font;
    &::placeholder {
      @include body-font;
    }
  }
}
